.main-container__title {
  padding-left: 30px;
  padding-right: 30px;
}

.main-container__description {
  font-family: "Arial";
  font-weight: 400;
  color: #7cbdbb;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
// .main-container__list {

// }

// .main-container__item {

// }

.main-container__item-content {
  background-image: url("../img/sedona-project.png");
  background-size: 350px;
}
